<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="STYLOS.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <script src="https://kit.fontawesome.com/ae49c0c380.js" crossorigin="anonymous"></script>
</head>

<body>

    <script src="Buscador.js"></script>

    <nav class="navbar">
        <div class="top-bar">
            <div class="logo">
                <a href="Index.html"><img src="LOGOROJO-removebg-preview.png" alt="Logo"></a>
            </div>
            
            <div class="search-bar">
                <input type="text" id="buscar" placeholder="Buscar...">
                <button onclick="buscar()">Buscar</button>
                <button onclick="cerrarResultados()" class="close-btn">X</button>
                <ul id="results" class="results"></ul>
            </div>

            <div class="icons">
                <a href="login.html#LOG">
                    <h3><i class="fa-solid fa-user"></i> Iniciar Sesion</h3>
                </a>
                <a href="Registro.html#REGISTRO" class="signupForm">
                    <h3><i class="fa-solid fa-pen-to-square"></i> Registrate</h3>
                </a>
                <a href="javascript:void(0)" class="cart-link" onclick="mostrarCarrito()">
                    <h3>
                        <i class="fa-solid fa-cart-shopping"></i>
                        <span class="cart-count">0</span>
                        Carrito
                    </h3>
                </a>
            </div>
        </div>
        <div class="bottom-bar">
            <ul>
                <li><a href="Productos.html"><b>PRODUCTOS</b></a></li>
                <li><a href="Marcas.html"><b>MARCAS</b></a></li>
                <li><a href="#"><b>PROMOCIONES</b></a></li>
                <li><a href="#"><b>NOVEDADES</b></a></li>
            </ul>
        </div>
    </nav>

    <div class="Todas-Marcas">&nbsp;<b>Todos Los Productos</b></div>

    <figure class="Banner_Vertical">
        <img src="PAYPAL.3MSI.jpg">
        <img src="NVIDIA_BANNER.jpg">
        <img src="Banner-10-audioyvideo.png">
        <img src="Banner-09-computadoras.png">
    </figure>

    <div class="custom-product-container">
        <div class="custom-product">
            <img src="LENOVO-LEGION.jpg" alt="Producto 1" class="custom-product-image">
            <div class="custom-product-details">
                <h2 class="custom-product-title">Lenovo Legion Go</h2>
                <p class="custom-product-description">8.8" 144Hz WQXGA Handheld Touchscreen Gaming PC AMD Ryzen Z1
                    Extreme 16GB RAM 512GB SSD Shadow Black.</p>
                <p class="custom-product-price"><strong>$16,784.00</strong></p>
                <button class="custom-add-to-cart-button">Agregar al carrito</button>
            </div>
        </div>
        <div class="custom-product">
            <img src="LENOVO-IDEAL.jpg" alt="Producto 2" class="custom-product-image">
            <div class="custom-product-details">
                <h2 class="custom-product-title">Lenovo Laptop IdeaPad Flex 5</h2>
                <p class="custom-product-description">Convertible 14" WUXGA Touchscreen | AMD Ryzen 5 7530U 8GB RAM,
                    512GB SSD | Lector de Huella | Pluma Incluida.</p>
                <p class="custom-product-price"><strong>$13,039.00</strong></p>
                <button class="custom-add-to-cart-button">Agregar al carrito</button>
            </div>
        </div>

        <div class="custom-product">
            <img src="LG-ULTRA.jpg" alt="Producto 3" class="custom-product-image">
            <div class="custom-product-details">
                <h2 class="custom-product-title">LG 34GP63A-B UltraWide</h2>
                <p class="custom-product-description">Gaming Monitor 34" VA WQHD 160Hz 1ms MBR AMD FreeSync Premium,
                    HDMI, Display Port, Curvo 1800R..</p>
                <p class="custom-product-price"><strong>$7,199.00</strong></p>
                <button class="custom-add-to-cart-button">Agregar al carrito</button>
            </div>
        </div>
        <div class="custom-product">
            <img src="LG-TUNE.jpg" alt="Producto 2" class="custom-product-image">
            <div class="custom-product-details">
                <h2 class="custom-product-title">LG Tone Free FP9</h2>
                <p class="custom-product-description">Auriculares inalámbricos Bluetooth con cancelación Activa de Ruido
                    (ANC) con conexión inalámbrica y Enchufe, Funda de Carga UVnano, Graves Flexibles y Resistentes al
                    Agua IPX4.</p>
                <p class="custom-product-price"><strong>$1,512.00</strong></p>
                <button class="custom-add-to-cart-button">Agregar al carrito</button>
            </div>
        </div>

        <div class="custom-product">
            <img src="LOGI-HERO.jpg" alt="Producto 1" class="custom-product-image">
            <div class="custom-product-details">
                <h2 class="custom-product-title">Logitech G502 Hero </h2>
                <p class="custom-product-description">Mouse Gaming con Cable, Sensor Hero 25K, LIGHTSYNC RGB, Peso
                    Ajustable, 11 Botones programables, Memoria integrada - Negro.</p>
                <p class="custom-product-price"><strong>$952.00</strong></p>
                <button class="custom-add-to-cart-button">Agregar al carrito</button>
            </div>
        </div>
        <div class="custom-product">
            <img src="LOGI-AUDI.jpg" alt="Producto 2" class="custom-product-image">
            <div class="custom-product-details">
                <h2 class="custom-product-title">Logitech G733 LIGHTSPEED</h2>
                <p class="custom-product-description">Audífonos Inalámbricos Gaming, LIGHTSPEED, RGB LIGHTSYNC,
                    tecnología de micrófono Blue VO!CE, batería de 29 horas, tecnología DTS Headphone:X 2.0., PC, PS4 -
                    Negro.</p>
                <p class="custom-product-price"><strong>$1,999.00</strong></p>
                <button class="custom-add-to-cart-button">Agregar al carrito</button>
            </div>
        </div>

        <div class="custom-product">
            <img src="MICRO-SURF.jpg" alt="Producto 1" class="custom-product-image">
            <div class="custom-product-details">
                <h2 class="custom-product-title">Microsoft Surface Pro</h2>
                <p class="custom-product-description">8-13" visualización táctil - Memoria Intel® EVO Platform Core™
                    i7-16GB - SSD de 512GB - Solo Dispositivo - Platino.</p>
                <p class="custom-product-price"><strong>$24,979.00</strong></p>
                <button class="custom-add-to-cart-button">Agregar al carrito</button>
            </div>
        </div>
        <div class="custom-product">
            <img src="XBOX-X.jpg" alt="Producto 2" class="custom-product-image">
            <div class="custom-product-details">
                <h2 class="custom-product-title">Xbox Series X</h2>
                <p class="custom-product-description">1TB Consola - Versión Internacional.</p>
                <p class="custom-product-price"><strong>$8,799.00</strong></p>
                <button class="custom-add-to-cart-button">Agregar al carrito</button>
            </div>
        </div>

        <div class="custom-product">
            <img src="MOTO-50.jpg" alt="Producto 1" class="custom-product-image">
            <div class="custom-product-details">
                <h2 class="custom-product-title">motorola Moto Edge 50 Pro </h2>
                <p class="custom-product-description">512 GB Memoria, 12 GB RAM, Celular Desbloqueado, 1 Año de Garantía
                    - Negro.</p>
                <p class="custom-product-price"><strong>$10,899.00</strong></p>
                <button class="custom-add-to-cart-button">Agregar al carrito</button>
            </div>
        </div>
        <div class="custom-product">
            <img src="MOTO-RAZR.jpg" alt="Producto 2" class="custom-product-image">
            <div class="custom-product-details">
                <h2 class="custom-product-title">motorola razr+ 2023</h2>
                <p class="custom-product-description">Desbloqueado Hecho para US 8/256 32 MPCamera Negro 73.95 x 170.83
                    x 6.99 mm.</p>
                <p class="custom-product-price"><strong>$10,111.00</strong></p>
                <button class="custom-add-to-cart-button">Agregar al carrito</button>
            </div>
        </div>

    </div>






    <div class="button-group">
        <button onclick="location.href='productos.html'">1</button>
        <button onclick="location.href='Productos2.html'">2</button>
        <button onclick="location.href='Productos3.html'">3</button>
        <button onclick="location.href='Productos4.html'">4</button>
        <button onclick="location.href='Productos5.html'">5</button>
        <button onclick="location.href='Productos6.html'">6</button>
    </div>



    <div class="divider"><i class="fa-solid fa-info fa-flip"></i>&nbsp;<b> Sobre Nosotros </b></div>

    <article class="info-nosotros">
        <div class="izq">
            <table>
                <tr>
                    <td>
                        <h1>Venta de Computadoras, Hardware, Laptops, Monitores & más</h1>
                    </td>
                </tr>
            </table>
        </div>

        <div class="Der">
            <table>
                <tr>
                    <td>
                        <p>Gran variedad de productos, disponibilidad, precios bajos y seguridad al momento de compra,
                            son algunos de los beneficios que Tech-Shop trae para ti gracias a nuestros 16 años en el
                            mercado. A través de nuestro portal podrás encontrar más de 55,000 productos como hardware,
                            computadoras, laptops, impresoras, monitores, componentes y más, sin tener que salir de tu
                            hogar. Además, nuestro envío asegurado garantiza la tranquilidad de recibir tu mercancía sin
                            preocupaciones.
                            <br><br>
                            Nuestro servicio de calidad y rapidez no se limita solo a los consumidores finales, sino
                            también a las empresas que buscan soluciones rápidas y efectivas. Si necesitas de atención
                            personalizada durante la compra o al momento de realizar alguna cotización, con gusto te
                            atenderemos a través de nuestro chat, por email en info@cyberpuerta.mx o vía telefónica en
                            nuestras líneas de servicio al cliente.
                        </p>
                    </td>
                </tr>
            </table>
        </div>
    </article>

    <article class="Tablita">
        <div class="lado1">
            <table>
                <tr>
                    <td>
                        <h4><i class="fa-solid fa-check"></i> &nbsp;Productos 100% Originales</h4>
                        <h4><i class="fa-solid fa-check"></i> &nbsp;Envios a Todo Mexico</h4>
                        <h4><i class="fa-solid fa-check"></i> &nbsp;Compra Segura</h4>
                        <h4><i class="fa-solid fa-check"></i> &nbsp;Precios Bajos</h4>
                        <h4><i class="fa-solid fa-check"></i> &nbsp;Pagos Seguros</h4>
                        <a href="https://greatplacetowork.com.mx/"><img src="GPTW-cert.png" class="certi"></a>
                    </td>
                </tr>
            </table>
        </div>

        <div class="lado2">
            <table>
                <tr>
                    <td>
                        <h2>Horario de Atencion:</h2>
                        <h4>L-S 9:00am a 7:00pm</h4>
                        <h2>Contacto</h2>
                        <h4>Tech_Shop@gmail.com</h4>
                        <h2>Nuestras Redes Sociales</h2>
                        <a href="#"><img src="facebook.png" class="redes"></a> &nbsp; <a href="#"><img
                                src="whatsapp.png" class="redes"></a> &nbsp; <a href="#"><img src="gorjeo.png"
                                class="redes"></a> &nbsp; <a href="#"><img src="youtube.png" class="redes"></a> &nbsp;
                        <a href="#"><img src="instagram.png" class="redes"></a>

                    </td>
                </tr>
            </table>
        </div>

        <div class="lado3">
            <table>
                <tr>
                    <td>
                        <img src="117294243_3326926024061259_5358397554845454802_n.jpg" class="certi2">
                        <img src="confianza-online.jpg" class="certi3">
                    </td>
                </tr>
            </table>
        </div>
    </article>

    <div class="Metodos-p"><i class="fa-solid fa-money-bill-wave fa-beat"></i>&nbsp;<b> Metodos de Pago </b><br>
        <img src="Credit+Card+Logos.png" class="pagos">
    </div>

    <footer>
        <a href="Marcas.html">
            <h7>Todas las Marcas</h7>
        </a> | <a href="#">
            <h7>Contacto</h7> |
        </a><a href="#">
            <h7>Aviso Legal</h7>
        </a> | <a href="#">
            <h7>Preguntas Frecuentes</h7>
        </a> | <a href="#">
            <h7>Quienes Somos</h7>
        </a><br>
        <p><i class="fa-regular fa-copyright fa-flip"></i> 2020 - 2024 Tech-Shop </p>
    </footer>


</body>

</html>